<body>
  <head>
    <style>
      body {
    background: #dddddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    /* flex-direction: column; */
}

/* Login box styling */
.login-box {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 1rem 1rem;
    width: 35rem;
    text-align: center;
}

/* Title styling */
.login-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Input field styling */
.login-input {
    text-align: center;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
.namers{
    width: 38%;
}

/* Login button styling */
.login-button {
    width: 10rem;
    background: #1d1d1d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-button:hover{
    background-color: #131313;
}

/* Center the button */
.login-button-container {
    text-align: center;
}
    </style>
  </head>
<%- include ('../partials/messages') %>

 <div class="container">
  <form action="/users/register" method="POST">
  <div class="login-box">
      <h2 class="login-title">BlackJack Sign up</h2>
      <input class="login-input namers" type="text" name="first_name" id="first_name" placeholder="Enter First Name" value="<%= typeof first_name != 'undefined' ? first_name : '' %>">
      <input class="login-input namers" type="text" name="last_name" id="last_name" placeholder="Enter Last Name" value="<%= typeof last_name != 'undefined' ? last_name : '' %>">
      <input class="login-input" type="text" name="email" id="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
      <input class="login-input" type="password" name="password" id="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>">
      <input class="login-input" type="password" name="password2" id="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
      <div class="login-button-container">
          <p>Already have an account? <a href="/users/login">Log in</a></p>
          <button class="login-button">Sign up</button>
      </div>
  </div>
  </form>
</div>
</body>